* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;

}

.container {
	min-height: calc(100vh - 136px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p{
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	color: white;
}

.cadre {
	width: 100%;
	height: 450px;
	max-width: 800px;
	margin: 150px;
}

img {
	width: 100%;
	max-width: 350px;
	position: relative;
	display: block;
	margin: -180px auto 50px auto;
}

.card button {
	width: 45%;
}
h3{
	color: white;
	font-family: Broadway;
	font-size: 5rem;
}
.buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 180px;
}
